.wrapper {
    height: 6vw;
    display: grid;
    place-items: center;
    border-bottom: 1vh solid black;
    .title {
        font-size: 3vw;
        line-height: 1;
        font-weight: 800;
    }
}
